<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js | Romosoft Online</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>
<body>
    <div id="appVue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1 v-if="list.length > 0" >Agregar una tarea</h1>
                    <h1 v-else="list" >Crear una tarea</h1>
                    
                    <input type="text" class="form-control" v-model="newKeep" v-on:keyup.enter="addkeep">
                </div>
                <div class="col-sm-6">
                    <h1 v-if="list.length > 0">Listado de  tarea</h1>
                    <h1 v-else="list">No hay tareas registradas</h1>
                    <ul class="list-group">
                        <li class="list-group-item"
                        v-for="item in list"
                        v-bind:class="item.completed ==true ? 'disabled':''"
                        @click="item.completed = !item.completed">
                            {{item.keep}}
                        </li>

               
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <hr>
                    <pre>
                        {{$data }}
                    </pre>
                </div>
            </div>
        </div>
    </div>
    <script src="vue.js"></script>
    <script src="script.js"></script>
</body>
</html>